@model Logistics.Models.Process
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/media/css/PackNoform.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/media/css/mytimeline.css" type="text/css" />

</head>
<body style="margin:0px 20px 0px 20px;background: white ">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Home/Index">快递100</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/CoustomerModels/Complaint">投诉建议</a></li>
                <li class="active"><a href="~/Home/Login">登录</a></li>
                <li style="width:40px;"></li>
            </ul>
        </div>
    </nav>
    <div style="margin:0px 150px 0px 150px">

        <div style="margin:40px 0 100px 0;background: white">
            <div class="form-wrapper cf">
                @using (Html.BeginForm("Process", "CoustomerModels", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(model => model.PackNo, new { htmlAttributes = new { @id = "tags", @placeholder = "快递单号..." } })
                    <button type="submit">查找快递</button>
                }
            </div>
        </div>
        <section id="cd-timeline" class="cd-container">

            @if (Model.DeliveryNo != null)
            {
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="~/Image/cd-icon-location.svg" alt="Location">
                    </div>

                    <div class="cd-timeline-content" style="background-color: #e9f0f5">
                        <h2 style="font-family:微软雅黑;font-size:24px">发货</h2>
                        <p style="font-family:微软雅黑;font-size:16px">已从 @Model.Network 发货</p>
                        <span class="cd-date" style="font-family:微软雅黑;font-size:24px">@Model.DeliveryTime</span>
                    </div>
                </div>
            }
            @if (Model.StorageNo != null)
            {
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="~/Image/cd-icon-location.svg" alt="Location">
                    </div>
                    <div class="cd-timeline-content" style="background-color: #e9f0f5">
                        <h2 style="font-family:微软雅黑;font-size:24px">入库</h2>
                        <p style="font-family:微软雅黑;font-size:16px">已存入 @Model.Storage</p>
                        <span class="cd-date" style="font-family:微软雅黑;font-size:24px">@Model.StorageTime</span>
                    </div>
                </div>
            }

            @if (Model.OutboundNo != null)
            {
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="~/Image/cd-icon-location.svg" alt="Location">
                    </div>
                    <div class="cd-timeline-content" style="background-color: #e9f0f5">
                        <h2 style="font-family:微软雅黑;font-size:24px">出库</h2>
                        <p style="font-family:微软雅黑;font-size:16px">已从 @Model.OutboundStorage 派送到您附近网点</p>
                        <span class="cd-date" style="font-family:微软雅黑;font-size:24px">@Model.OutboundTime</span>
                    </div>
                </div>
            }

            @if (Model.DispatchNo != null)
            {
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="~/Image/cd-icon-location.svg" alt="Location">
                    </div>
                    <div class="cd-timeline-content" style="background-color: #e9f0f5">
                        <h2 style="font-family:微软雅黑;font-size:24px">派件</h2>
                        <p style="font-family:微软雅黑;font-size:16px">@Model.CourierNo 正在拼命送到您手中</p>
                        <span class="cd-date" style="font-family:微软雅黑;font-size:24px">@Model.DispatchTime</span>
                    </div>
                </div>
            }

            @if (Model.Status == 1)
            {
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="~/Image/cd-icon-location.svg" alt="Location">
                    </div>

                    <div class="cd-timeline-content" style="background-color: #e9f0f5">
                        <h2 style="font-family:微软雅黑;font-size:24px">退件</h2>
                        <p style="font-family:微软雅黑;font-size:16px">正在退件中</p>
                        <span class="cd-date" style="font-family:微软雅黑;font-size:24px">@Model.UpdateTime</span>
                    </div>

                </div>
            }

            @if (Model.Status == 2)
            {
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="~/Image/cd-icon-location.svg" alt="Location">
                    </div>
                    <div class="cd-timeline-content" style="background-color: #e9f0f5">
                        <h2 style="font-family:微软雅黑;font-size:24px">送达</h2>
                        <p style="font-family:微软雅黑;font-size:16px">您的快递已经签收</p>
                        <span class="cd-date" style="font-family:微软雅黑;font-size:24px">@Model.UpdateTime</span>
                    </div>
                </div>
            }

            @if (Model.Status == 3)
            {
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="~/Image/cd-icon-location.svg" alt="Location">
                    </div>
                    <div class="cd-timeline-content" style="background-color: #e9f0f5">
                        <h2 style="font-family:微软雅黑;font-size:24px">退件签收</h2>
                        <p style="font-family:微软雅黑;font-size:16px">您的快递退件完成</p>
                        <span class="cd-date" style="font-family:微软雅黑;font-size:24px">@Model.UpdateTime</span>
                    </div>
                </div>
            }
        </section>
    </div>
</body>
</html>
