@model Logistics.Models.Dispatch

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Dispatch</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PackNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PackNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CourierNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CourierNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PackName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PackName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ToName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ToName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DispatchTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DispatchTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DispatchStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DispatchStatus)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DispatchNo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
